# local package
-e .

# external requirements (PIP)
numpy==1.19
matplotlib==3.3
astropy==4.1
pynufft==2020.2.6
jupyterlab==2.2
scikit-image==0.18
tensorflow==2.5
pandas
seaborn
scipy
sparse

# optimus primal ( https://github.com/Luke-Pratley/Optimus-Primal )
##optimusprimal==0.0.1
