# local package
-e .

# external requirements (PIP)
numpy==1.20.3
matplotlib==3.3
astropy==4.1
# pynufft==2020.2.6
jupyterlab==2.2
scikit-image==0.18
tensorflow==2.7
pandas
seaborn
scipy
sparse==0.13.0
yogadl==0.1.4
# tfkbnufft
pytest==6.2.4
tqdm
# optimus primal ( https://github.com/Luke-Pratley/Optimus-Primal )
##optimusprimal==0.0.1
